<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Home{% endblock title %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/common.css') }}" />
            <link rel="stylesheet" href="{{ asset('build/main.css') }}" />
        {% endblock stylesheets %}
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        <div id="content"></div>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/common.js') }}"></script>
        {% endblock javascripts %}
    </body>

</html>
