<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock title %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/common.css') }}">
        {% endblock stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="content" class="container"></div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/common.js') }}"></script>
        {% endblock javascripts %}
    </body>
</html>
