body {
  background-color: #ffffff;
}

.gradient-page {
  background-image: linear-gradient(-220deg, #1a2837 0%, #152427 100%);

  &.contact-page {
    padding-top: 230px;

    @include tab-mob {
      padding-top: 190px;
    }
  }
}

h2, h3 {
  color: $black;
  font-family: $abrFat;
  text-transform: uppercase;
}

h1 {
  color: $white;
  font-family: $abrFat;
  font-size: 48px;
  text-transform: uppercase;

  @include mobile {
    font-size: 38px;
  }
}

h2 {
  font-size: 42px;

  @include mobile {
    font-size: 32px;
  }
}

h3 {
  font-size: 22px;

  @include mobile {
    font-size: 16px;
  }
}

h4 {
  color: $white;
  font-family: $abrFat;
  font-size: 20px;

  @include mobile {
    font-size: 14px;
  }
}

h5 {
  color: $black;
  font-family: $mon;
  font-size: 16px;

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    font-size: 16px;
  }
}

p {
  @include paragraph($black);

  @include mobile {
    font-size: 13px;
  }
}

.modal {
  .modal-dialog {
    box-shadow: 0 15px 70px rgba(0, 0, 0, 0.25);
    background-color: $white;
  }

  .modal-header {
    border: none;
  }

  .modal-content {
    border: none;
    border-radius: 0;
    padding: 20px 60px 40px 60px;
  }

  .close {
    margin-left: auto;
    background-color: #000 !important;
    color: #fff;
    line-height: 10px;
    font-size: 20px;
    padding: 13px;
    opacity: 1;
  }

  h2 {
    text-align: center;
    line-height: 50px;

    &:after {
      content: "";
      border-bottom: 1px solid $black;
      display: block;
      width: 50%;
      margin: 20px auto;
    }
  }

  p {
    letter-spacing: 0.7px;
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 25px;
  }

  label {
    display: block;
    width: 100%;
    color: $black;
    font-family: $mon;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.05px;

    input {
      display: block;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 30px;
      border: 1px solid $black;
      padding: 20px;
      font-size: 16px;
    }
  }

  .btn {
    @include btn($black, $white, $black, $black);
    max-width: 100%;
    width: 100%;
  }

  @include mobile {
    .modal-dialog {
      max-width: 320px;
    }

    .modal-content {
      padding: 20px;
    }

    h2 {
      line-height: 32px;
      font-size: 30px;

      &:after {
        margin: 10px auto;
      }
    }

    p {
      margin-bottom: 10px;
    }

    label {
      font-size: 12px;
      line-height: 15px;

      input {
        font-size: 14px;
        padding: 7px;
        margin-top: 5px;
        margin-bottom: 15px;
      }
    }

    .btn {
      max-width: 100%;
    }
  }

}